// @use "assets/sass/style";

.form-group {
    background-color: $white;
    border-radius: .2rem;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;

    outline: thin solid $primary;

    &.error {
        outline: thin solid #eb330f;
    }

    .error-icon {
        cursor: pointer;
        color: #eb330f !important;
    }

    // RESOLVE AUTOCOMPLETE BACKGROUND-COLOR
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    }

    input {
        color: $secondary;
        border: none;
        outline: none;
        padding: 1.5rem;
        font-size: 1.5rem;
    }

    svg {
        color: $primary;
        font-size: 2rem;
    }

    &:has(.upload-image-label){
        outline: none;
        background-color: transparent;
        grid-column: 1 / -1;
    }
}