@keyframes spinner {
    0% { transform: translate3d(-50%, -50%, 0) rotate(0deg); }
    100% { transform: translate3d(-50%, -50%, 0) rotate(360deg); }
}

.spinner {
    position: absolute;
    width: var(--radius);
    height: var(--radius);
    border: solid 5px #cfd0d1;
    border-bottom-color: $primary;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    will-change: transform;
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
}
