// @use "assets/sass/style";

.forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: $grey-light-blue;
    max-width: 40rem;
    margin: 4rem;
    padding: 4rem;

    &__options {
        display: flex;
        gap: 4rem;
    }

    &__message {
        line-height: 1.5;
        text-align: left;

        span{
            color: $primary;
            margin-top: 1rem;
            display: block;
            text-align: center;
            font-size: 2rem;
        }
    }
}

@keyframes MoveDown {
    0% {
        transform: translateY(-180%)
    }

    100% {
        transform: translateY(0);
    }
}