// @use "assets/sass/style";
.user-details {
    padding: 1rem 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    gap: 3rem;
}