// @use "assets/sass/style";

.login {
    background: linear-gradient(90deg, $secondary 0%, $primary 100%);

    grid-column: 1/-1;
    grid-row: 1/-1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include scroll;

    .form-box{
        padding-bottom: 2rem;
        border-radius: .2rem;
        box-shadow: $grey-dark 0px 0px 0.25em, $grey-dark 0px 0.25em 1em;
        background-color: $white;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .sign-up-form{
            padding: 4vh;
        }

        .spinner{
            // top: 65%;
            top: -350%;
        }

        p { 
            font-size: clamp(1.3rem, 1.3rem, 2rem);
        }
        
        a {
            color: $primary;
            &:hover{
                color: $primary-dark
            }
        }
    }
}