.login {
    // background: linear-gradient(90deg, $primary-light 0%, $grey-light-blue 100%);
    // background: rgb(231, 245, 251);
    // background: radial-gradient(circle, $grey-light-blue 0%, $primary 50%);
    background: rgb(231, 245, 251);
    background: radial-gradient(circle, rgba(231, 245, 251, 1) 2%, rgba(32, 42, 72, 1) 7%, rgba(166, 86, 225, 1) 100%);

    grid-column: 1/-1;
    grid-row: 1/-1;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    @include scroll;

    .form-box{
        margin: 2rem auto;

        padding-bottom: 2rem;
        border-radius: .5rem;
        box-shadow: $grey-dark 0px 0px 0.25em, $grey-dark 0px 0.25em 1em;
        background-color: $white;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        max-height: 100%;

        .spinner { margin-top: 15rem; }

        p { font-size: clamp(1.3rem, 1.3rem, 2rem); }
        
        a {
            color: $primary;
            &:hover{
                color: $primary-dark
            }
        }
    }
}