.stories {
    display: flex;
    justify-content: stretch;
    align-items: center;   
    gap: 2rem;

    padding: 1rem;

    overflow: scroll;

    flex: 0 0 auto;
    
    &::-webkit-scrollbar{
        display: none;
    }
}
