.stories {
    display: flex;
    justify-content: stretch;
    position: relative;
    min-height: 10rem;
    align-items: center;   
    gap: 2rem;

    padding: 1rem;

    
    flex: 1 1 1;
    
    @include scroll;
}
