.post-modal {
    width: 80vw;
    height: 70vh;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 101;

    background-color: rgba($grey-light-blue, 1);

    border-radius: .5rem;
    
}