.post-modal {
    height: 50rem;
    width: 75rem;
    @include respond(phone){ 
        width: 90%; 
        &:has(.view-post-modal) {
            height: 75%; 
        }
    }
    
    @include scroll;   

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 101;

    background-color: rgba($grey-light-blue, 1);

    border-radius: .5rem;
    
}