.button {
    text-transform: uppercase;

    border-radius: .5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;

    color: $white;
    background: linear-gradient(to top, $secondary 0%, $primary 100%);

    &:hover { background: rgba($primary, .9) }
}