@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.user {
    display: flex;
    align-items: center;

    cursor: pointer;

    .user-img {
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 1.5rem;

        .paragraph {
            padding: 0;
        }

        .nickname {
            color: $grey;
            margin-top: .4rem;
            font-size: 1rem;
        }
    }
}