// @use "assets/sass/style";

.messages__list {
    background-color: $white;

    grid-column: messages-start / messages-end;
    grid-row: 1 / 3;
    
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    padding: 2rem;
    margin-bottom: 1rem;

    @include respond(phone){
        grid-column: 1 / -1;
        grid-row: 2 / 3;        
    }
    
    @include scroll;
}

.spinner{
    grid-row: 1/2;
    grid-column: messages-start / messages-end;

    @include respond(phone) {
        grid-row: 2/3;
    }
}
    
