@import "../../assets/sass/mixins";
@import "../../assets/sass/variables";

.container {
    height: 100%;
    max-width: 100%;

    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }

    background-color: $grey-light-blue;

    position: relative;

    display: grid;
    grid-template-columns: [sidebar-start] 1fr [sidebar-end] repeat(10, [page-start] 1fr [page-end]);
    
    @include respond(phone){
        grid-template-rows: 1fr 5rem;
    }
}