.view-post-modal {

    background-color: rgba($grey-light-blue, 1);
    
    height: 100%;
    
    position: relative;
    z-index: 104;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content minmax(35rem, 1fr) min-content; 

    .icon-button { 
        svg.saved{
            color: $primary;
        }
    }

    @include respond(phone){
        grid-template-rows: [user-start] 1fr [user-end image-start] 36rem [image-end 
            info-start] minmax(21rem, 36rem) [info-end add-comment-start] min-content [add-comment-end];

        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .user{
        padding: 1.5rem;
        @include respond(phone){
            grid-column: 1/-1;
        }
    }

    &__img {
        grid-column: 1 / 2;
        grid-row: 1 / -1;

        width: 100%;
        height: 100%;
        object-fit:fill;

        @include respond(phone){
            grid-column: 1 / -1;
            grid-row: image-start / image-end;
            max-height: 40rem;
        }
    }

    &__info {
        @include scroll;

        @include respond(phone) {
            grid-column: 1 / -1;
            grid-row: info-start / info-end;
        }
        svg{
            height: 2rem;
            width: 2rem;
            margin-left: 2rem;
        }
        .like-icon {
            cursor: pointer;
            &:hover, &.liked {
                color: #fd1d60;
            }
        }
        .description {
            display: flex;
            align-items: flex-start;
            padding: 2rem;
            gap: 2rem;
            .subtitle {
                flex: 0;
                color: rgba($secondary, .9)
            }
            p{
                align-self: flex-end;
            }
        }
        .count{
            margin-left: .5rem;
            font-size: 1.4rem;
            color: rgba($secondary, .8)
        }

    }

    
}