    .view-post-modal {
        max-width: 100%;
        max-height: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);


        svg {
            height: 2rem;
            width: 2rem;
            &:hover {
                color: #ccc;
            }
        }

        .description {
            &__text {
                font-size: 1rem;
                font-weight: 400;
                padding: 1rem;
            }

            grid-row: 3 / 4;
            grid-column: 7 / -1;
            padding: 2rem;
        }

        &__img {
            grid-column: 1 / 7;
            grid-row: 1 / -1;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: auto;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
        }

        .user {
            grid-column: 7 / -1;
            grid-row: 1 / 3;
            padding: 1rem;
        }

        .likes,
        .comments {
            font-size: 1rem;
            grid-column: 7 / -1;
            grid-row: 5 / -1;
            padding: 0 2rem;
            overflow: scroll;
            &::-webkit-scrollbar{
                display: none;
            }

            .heading-4 {
                grid-row: 5 / 6;
            }

            ul {
                padding: .5rem;

                li {
                    padding: 1rem;
                }
            }
        }
    }