.profile {
    padding-top: 4rem;
    
    @include page;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    @include respond(phone){
        flex: 4;
    }
    
    .user{
        cursor: auto;
        text-decoration: none;
    }

    .posts-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @include scroll;
        
        .posts {
            margin: 1rem;
            overflow: visible;
            flex: 1 0 200px;
            .spinner {
                margin-top: 5rem;
            }
            .post__info {
                .user {
                    display: none;
                }
            }
        }
    }
    
}