.profile {
    padding-top: 4rem;
    
    @include page;
    
    @include scroll;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    @include respond(phone){
        flex: 4;
    }
    
    .user{
        cursor: auto;
        text-decoration: none;
    }

    .posts {
        flex: 1 0 auto;
        .spinner {
            margin-top: 5rem;
        }
        .post__info {
            .user {
                display: none;
            }
        }
    }
    
}