// @use "assets/sass/style";

.create-post-modal {
    background-color: rgba($grey-light-blue, 1);

    height: 100%;

    position: relative;
    z-index: 104;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    .description__input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        resize: none;
        padding: 2rem;
    }

    img {
        width: 15rem;
        height: 15rem;
    }
    
    .form-group{ grid-column: 1 / -1;}
}