// @use "assets/sass/style";

.messages__form {
    display: flex;
    grid-column: messages-start / messages-end;
    grid-row: 3 / -1;
    gap: 1rem;

    padding: 1rem;

    @include respond(phone){    
        grid-column: 1/-1;
    }
    
    input {
        flex: 2;
        align-self: center;
        height: 100%;
        padding: .5rem 2rem;
        border: none;
        outline: none;
        border-radius: 5rem;
    }

    button {
        align-self: center;
        position: relative;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        svg {
            height: 2rem;
            width: 2rem;
        }

        .spinner{
            left: 0;
        }
    
        .spinner::before{
            width: .5rem;
            height: .5rem;
        }
    }
}