@import "../../assets/sass/mixins";

.feeds {
    flex: 4;
    padding: 2rem 0;
    position: relative;
    
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    &__nav{
        @include flexBetween;
        padding: 0 1.2rem;
        margin-bottom: 3rem;
    }

}