@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.home {
    height: 100%;
    // flex: 8 1 100%;
    grid-column: page-start 1 / -1;
    overflow: hidden;
    max-width: 100%;
    @include flexBetween;

    @include respond(phone){
        grid-row: 1/2;
        grid-column: 1/-1;
    }

    .vl{
        width: .01rem;
        height: 96%;
        border-left: thin solid $grey-dark;
        opacity: .1;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        padding: 2rem;

        flex: 7;

        height: 100%;
        overflow: hidden;
        position: relative;
    }

} 