// @use "assets/sass/style";

.burger-menu {
    position: fixed;
    z-index: 20;
    width: 3rem;
    height: .2rem;
    background-color: $grey-dark;
    right: 2rem;
    top: 3rem;

    @include respond(phone) {
        height: 0;
    }

    &::before,
    &::after {
        content: "";
        background-color: $grey-dark;
        height: .2rem;
        width: 3rem;
        display: block;
    }

    &::before {
        transform: translateY(-.9rem);

        @include respond(phone) {
            transform: rotateZ(45deg);
        }
    }

    &::after {
        transform: translateY(.7rem);

        @include respond(phone) {
            transform: rotateZ(135deg);
        }
    }
}

.sidebar {
    grid-column: sidebar-start / sidebar-end;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: $white;
    gap: 1rem;

    position: relative;

    @include respond(phone){
        flex-direction: row;
        grid-column: 1/-1;
        grid-row: 2/-1;
        z-index: 10;
    }

    .logo{
        cursor: pointer;

        @include respond(phone){
            display: none;
        }
    }
}