    .suggestions {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3rem 8rem;
        align-items: center;
        padding: 1rem;

        .suggestion {
            grid-column: 1 / -1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 .5rem;
            gap: .5rem
        }
    }