@import "../../assets/sass/mixins";
@import "../../assets/sass/variables";

.account {

    flex: 1;
    width: 100%;
    
    &__head{
        cursor: pointer;
        @include flexBetween;
        align-items: flex-start;
        margin-bottom: 2rem;
    
        .subtitle {
            padding-left: 4rem;
        }
    
        svg {
            font-size: 1.2rem;
            margin-right: 2rem;
            margin-top: .6rem;
        }
    }

    
    .user{
        justify-content: flex-start;
        padding-left: 4rem;
    }
    
    .hide{
        visibility: hidden;
        opacity: 0;
        transition: all .1s ease;
    }
    
    .show{
        visibility: visible;
        opacity: 1;
        transition: all .1s ease;
    }
}