// @use "assets/sass/style";

.icon-button {
    background-color: inherit;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    
    svg {
        height: 100%;
        width: 100%;
        &:hover { color:$primary; }
    }
}