@import "../../../assets/sass/variables";

.upload-image-label {
    cursor: pointer;
    justify-self: flex-start;
    font-size: 1.3rem;
    color: $grey;
    background-color: $grey-light;
    padding: 1vh;
    box-shadow: $grey-dark 0.025rem 0.025rem 0.25em;

    &:hover {
        background-color: $grey-dark;
    }
}

.upload-img {
    height: 3vh;
    width: 3vh;
    margin-left: 3vh;
}
    