.sign-up-form {
    padding: 3rem;
    input{
        @include respond(phone) {
            padding: 1rem;
            width: 100%;
            font-size: 1rem;
        }
    }
    .form-group{ padding: 0; }
}