.reset-password {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.reset-form{
    padding: 2rem;
    grid-template-columns: none;
    .controls{
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }
}