// @use "assets/sass/style";

.explore {

    @include page;
    @include scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    padding: 4rem;
    
    @include respond(tablet){
        flex: 1;
        padding: 2rem .1rem;
        // display: none;
    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 3rem;
        width: 100%;

    }

    &__link {
        font-size: 1.5rem;
        font-weight: 500;
        color: $primary;
        &:hover{
            color: $primary-light;
        }
    }
    

    hr.solid{
        margin: 2.5rem auto;
        width: 85%;
        opacity: 0.3;
        @include respond(tablet) {
            display: none;
        }
    }

}