// @use "assets/sass/style";
.category-btn{
    position: fixed;
}
.categories {
    @include flexBetween;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba($secondary, 0.3);
    text-transform: uppercase;
    .category {
        cursor: pointer;
        width: 100%;
        &:hover, &.active { color:$primary; }
    }
}