// @use "assets/sass/style";

.user-detail {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    p {
        flex: 1 1 content;
    }
    span {
        svg {
            height: 2rem;
            width: 2rem;
        }
        color: $primary;
    }
}