.suggestions {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem 4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    justify-items: center;

    .suggestion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 1 / -1;
        width: 100%;
        padding: 0 .5rem;
        gap: 30vw
    }
}