.story {
    @include flexBetween;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;

    &:hover &__user-img{
        transform: scale(1.1);
        transition: all .1s ease-out;
    }
    
    &.seen &__user-img{
        border: 2px solid $grey;
    }
    
    &__user-img{
        width: clamp(6rem, 10vw, 8rem);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 2.5px solid $primary;
        padding: .3rem;
        object-fit:cover;
    }

}