@import "../../../assets/sass/mixins";
@import "../../../assets/sass/variables";

.story{
    @include flexBetween;
    flex-direction: column;
    flex: 1 0 6rem;
    gap: 2rem;
    cursor: pointer;

    &:hover &__user-img,
    &:hover &__user-name{
        transform: scale(1.1);
        transition: all .1s ease-out;
    }
    
    &.seen &__user-img{
        border: 2px solid $grey;
    }
    
    &__user-img{
        width: clamp(6rem, 100%, 10rem);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 2px solid $primary;
        padding: .2rem;
        object-fit:cover;
    }

}