.follow-button{
    border-radius: 1rem;
    min-height: 1.5rem;
    background-color: $primary-light;
    color: white;
    text-align: center;
    padding: 1rem 4rem;
    letter-spacing: .05rem;
    transition: all .1s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    &:hover { background-color: $primary; }
    &--friend {
        background-color: $grey-dark;
        &:hover { background-color: $grey; }
    }
}