@import "mixins";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Rubik:wght@400;500;700&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    user-select: none;
    -webkit-user-select: none;
    
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
    @include scroll;
    // overflow: hidden;
    @include respond(phone){
        font-size: 50%;
    }
}

body {
    font-family: 'Rubik', Inter, Avenir, Helvetica, Arial, sans-serif;
    background-color: $white;
    color: $secondary;
}

ol,
ul {
    list-style: none;
}

span, p {
    user-select: none;
    pointer-events: none;
    cursor: default;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button{
    all:unset;
    cursor: pointer;
}