@import "variables";

// .skeleton {
//     animation: skeleton-loading 1s linear infinite alternate;
// }

// @keyframes skeleton-loading {
//     0% {
//         background-color: hsl(200, 20%, 80%);
//     }

//     100% {
//         background-color: hsl(200, 20%, 95%);
//     }
// }

@mixin respond($break-point){
    @if $break-point == phone {
        @media only screen and (max-width:$bp-phone) {
            @content;
        }
    }
    @if $break-point == tablet {
        @media only screen and (max-width:$bp-tablet) {
            @content;
        }
    }
}

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin page {
    height: 100%;
    position: relative;
    grid-column: page-start / page-end;
    overflow: hidden;
    @include respond(phone) {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
}

@mixin scroll {
    overflow: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin gradientText {
    background-image: linear-gradient(to bottom, $secondary 0%, $primary 100%);
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}